@model SE.Models.Employee

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @if (ViewBag.notify != null)
        {
            <div class="form-group">
                <div class="col-xs-4">
                    <div class="alert bg-@(ViewBag.notify.status ? "success":"danger" )" role="alert">
                        <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>@ViewBag.notify.msg
                    </div>
                </div>
            </div>
        }
        @Html.HiddenFor(model => model.idEmployee)

        <div class="form-group">
            <label class="control-label col-md-2" for="pos">Position</label>
            <div class="col-md-3">
                @Html.DropDownList("idTypeE", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="username">Username</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="password">Password</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password", Value="" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Full Name</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="address">Address</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="phone">Phone Number</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="idcard">ID Card</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.idcard, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="sex">Sex</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.sex, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="birthday">Birthday</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="startday">Start Day</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.startday, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
