@model SE.Models.Schedule

@{
    ViewBag.Title = "Edit Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @if (ViewBag.notify != null)
        {
            <div class="form-group">
                <div class="col-xs-4">
                    <div class="alert bg-@(ViewBag.notify.status ? "success":"danger" )" role="alert">
                        <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>@ViewBag.notify.msg
                    </div>
                </div>
            </div>
        }
        @Html.HiddenFor(model => model.idSchedule)

        <div class="form-group">
            <label class="control-label col-md-2" for="daystart">Day Start</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.dayStart, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="dayend">Day End</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.dayEnd, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="route">Route</label>
            <div class="col-md-3">
                @Html.DropDownList("idRoute", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="time">Time</label>
            <div class="col-md-3">
                @Html.DropDownList("idTime", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="driver">Driver</label>
            <div class="col-md-3">
                @Html.DropDownList("idEmployee", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="vehicle">Vehicle</label>
            <div class="col-md-3">
                @Html.DropDownList("idVehicle", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="price">Price</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
